<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Task.Name}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/styles/base.css?hash=vfsd866df8" rel="stylesheet">

    <style>

        .profile-container {
            display: flex;
            align-items: center;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .profile-image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }

        .profile-details {
            flex: 1;
        }

        .name {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .email {
            font-size: 16px;
            color: #555;
            margin-bottom: 5px;
        }

        .nickname {
            font-size: 18px;
            color: #777;
        }

        .dark-mode .name {
            color: #f8fbff !important;
        }

    </style>

</head>

<body>
<div>
    <div class="avatar-container">
        <a href="/view/profile">
            <img src="https://avatars.githubusercontent.com/u/77489413?v=4" alt="User Avatar" class="user-avatar">
        </a>
    </div>

    <div id="main">
        <nav id="sidebar" class="collapsed">
            <a class="d-flex align-items-center text-decoration-none" onclick="toggleSidebar()">
                <i class="bi bi-list icons simple-text"></i>
            </a>

            <a class="d-flex align-items-center  text-decoration-none theme-toggle-container" id="theme-toggle" onclick="toggleTheme()">
                <span class="me-2 icons">
                    <i class="bi bi-moon-fill simple-text"></i>
                    <i class="bi bi-sun-fill simple-text d-none"></i>
                </span>

                <span class="sidebar-label simple-text">Ночь</span>
            </a>

            <div class="center-vertically">
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/view/home" class="d-flex align-items-center text-decoration-none">
                            <span class="me-2 icons"><i class="bi bi-house-door simple-text"></i></span>
                            <span class="sidebar-label simple-text">Home</span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="/view/hw_iu9_bmstu" class="d-flex align-items-center text-decoration-none">
                            <span class="me-2 icons"><i class="bi bi-code-square simple-text"></i></span>
                            <span class="sidebar-label simple-text">hw_iu9_bmstu</span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="/view/forum" class="d-flex align-items-center text-decoration-none">
                            <span class="me-2 icons"><i class="bi bi-chat-left-dots simple-text"></i></span>
                            <span class="sidebar-label simple-text">Форум</span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="/view/settings" class="d-flex align-items-center text-decoration-none">
                            <span class="me-2 icons"><i class="bi bi-gear simple-text"></i></span>
                            <span class="sidebar-label simple-text">Настройки</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


        <div id="content" class="collapsed">
            <img class="profile-image" src="https://avatars.githubusercontent.com/u/77489413?v=4" alt="Profile Photo">

            <div class="profile-details">
                <div class="nickname">@{{.NickName}}</div>
                <div class="name">{{.Surname}}</div>
                <div class="name">{{.Name}}</div>
                <div class="email">{{.Email}}</div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/scripts/base.js?hash=dassadsssss2"></script>

</body>

</html>
