<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>Задача</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


        </script>

        <style>
            /* Additional custom CSS for indent at the bottom */
            .form-group {
                margin-bottom: 4rem;
            }
        </style>

    </head>
    <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Service Name -->
        <a class="navbar-brand" href="/">Сервер</a>

        <!-- Username Dropdown Item -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Alex
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/settings">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </nav>


    <div class="container mt-5" id="statement">
        {{.Statement}}
    </div>

    <div class="form-group container mt-5">
            <div class="mt-4">
                <div class="dropdown mt-4" style="margin-bottom: 2rem;">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select an language
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {{range .Languages}}
                            <li><a class="dropdown-item" onclick="selectItem('{{.}}')">{{.}}</a></li>
                        {{end}}
                    </ul>
                </div>

                <textarea class="form-control" id="Code" rows="8" placeholder="Enter code" style="margin-bottom: 1rem;"></textarea>
            </div>

            <button type="submit" class="btn btn-primary mt-2" onclick="sendRequest()">Submit</button>

            <div class="container mt-4">
                <h1>Посылки</h1>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Компилятор</th>
                      <th>Вердикт</th>
                      <th>Тест</th>
                      <th>Время</th>
                      <th>Память</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{range .Submissions}}
                    <tr>
                                <td>{{.ID}}</td>
                                <td>{{.Language}}</td>
                                <td>
                                    {{if eq .Verdict "Accepted"}}
                                        <span class="badge badge-success">{{.Verdict}}</span>
                                    {{else if eq .Verdict "Waiting"}}
                                        <span class="badge badge-warning">{{.Verdict}}</span>
                                    {{else}}
                                        <span class="badge badge-danger">{{.Verdict}}</span>
                                    {{end}}
                                </td>
                                <td>{{.Test}}</td>
                                <td>{{.ExecutionTime}}</td>
                                <td>{{.MemoryUsed}}</td>
                            </tr>
                    {{end}}

                  </tbody>
                </table>
              </div>
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Bootstrap 5 JS (required for dropdown functionality) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>

    <script>
        // Function to update selected item text
        function selectItem(item) {
            document.getElementById('dropdownMenuButton').innerText = item;
        }

        function sendRequest() {
            // get the problemID parameter from the URL
            const problemID = window.location.href.substr(window.location.href.indexOf('problem/') + 8);

            // construct the API URL
            const apiUrl = `/view/problem/${problemID}/submit`;

            // send a POST request with JSON data
            fetch(apiUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "sourceCode": document.getElementById("Code").value,
                    "language": document.getElementById('dropdownMenuButton').innerText,
                })
            })
                .then(response => {
                    console.log('Response:', response);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>

    </body>
    </html>