<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timus</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/styles/base.css?hash=v866df8" rel="stylesheet">

    <style>
        .dark-mode .task-card {
            border: 2px solid #475965;
        }
    </style>
</head>

<body>
<div>
    <div class="avatar-container">
        <a href="/view/profile">
            <img src="https://avatars.githubusercontent.com/u/77489413?v=4" alt="User Avatar" class="user-avatar">
        </a>
    </div>

    <div id="main">
        <nav id="sidebar" class="collapsed">
            <a class="d-flex align-items-center text-decoration-none" onclick="toggleSidebar()">
                <i class="bi bi-list icons simple-text"></i>
            </a>

            <a class="d-flex align-items-center  text-decoration-none theme-toggle-container" id="theme-toggle" onclick="toggleTheme()">
                <span class="me-2 icons">
                    <i class="bi bi-moon-fill simple-text"></i>
                    <i class="bi bi-sun-fill simple-text d-none"></i>
                </span>

                <span class="sidebar-label simple-text">Ночь</span>
            </a>

            <div class="center-vertically">
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/view/home" class="d-flex align-items-center text-decoration-none">
                            <span class="me-2 icons"><i class="bi bi-house-door simple-text"></i></span>
                            <span class="sidebar-label simple-text">Home</span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="/view/hw_iu9_bmstu" class="d-flex align-items-center text-decoration-none">
                            <span class="me-2 icons"><i class="bi bi-code-square simple-text"></i></span>
                            <span class="sidebar-label simple-text">hw_iu9_bmstu</span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="/view/forum" class="d-flex align-items-center text-decoration-none">
                            <span class="me-2 icons"><i class="bi bi-chat-left-dots simple-text"></i></span>
                            <span class="sidebar-label simple-text">Форум</span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="/view/settings" class="d-flex align-items-center text-decoration-none">
                            <span class="me-2 icons"><i class="bi bi-gear simple-text"></i></span>
                            <span class="sidebar-label simple-text">Настройки</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


        <div id="content" class="collapsed">
            <h1 class="simple-text">Задачи c {{.TestSystem}}</h1>
            <div id="task-list" class="mt-4">
                {{range .Tasks}}
                <div class="card task-card mt-2 mb-2" onclick="redirectToTask('{{.ID}}');">
                    <div class="card-body">
                        <h5 class="card-title blue-text">{{.Name}}</h5>
                        <!-- <p class="card-text">Description of task {{.ID}}</p> -->
                    </div>
                </div>
                {{end}}
            </div>

            <div class="text-center mt-4">
                <button class="btn btn-primary mr-2" onclick="goBack()">Назад</button>
                <button class="btn btn-primary" onclick="goForward()">Вперед</button>
            </div>
        </div>

    </div>

</div>

<script>
    function redirectToTask(taskId) {
        window.location.href = "/view/problem/" + taskId;
    }

    function goBack() {
        const url = new URL(window.location.href);

        let from = parseInt(url.searchParams.get("from"));
        let count = parseInt(url.searchParams.get("count"));

        if (isNaN(from)) {
            from = 1
        }

        if (isNaN(count)) {
            count = 20
            url.searchParams.set("count", count);
        }

        url.searchParams.set("from", from - count);
        window.location.href = url.toString();
    }

    function goForward() {
        const url = new URL(window.location.href);

        let from = parseInt(url.searchParams.get("from"));
        let count = parseInt(url.searchParams.get("count"));

        if (isNaN(from)) {
            from = 1
        }

        if (isNaN(count)) {
            count = 20
            url.searchParams.set("count", count);
        }

        url.searchParams.set("from", from + count);
        window.location.href = url.toString();
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/scripts/base.js?hash=1fs2"></script>
</body>

</html>
