body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f7f8fa;
    position: relative;
    color: #2a283c;
}

#main {
    display: flex;
}

#sidebar {
    width: 200px;
    position: fixed !important;
    height: 100%;
    top: 0;
    left: 0;
    border-right: 2px solid #eaeaea;
}

#sidebar.collapsed {
    width: 60px;
}


#sidebar.collapsed .sidebar-label {
    display: none;
}

.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.icons {
    font-size: 2rem;
    margin-left: 13px;
}

.avatar-container {
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 1000;
    border: 2px solid #eaeaea;
    padding: 3px;
    border-radius: 50%;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.theme-toggle-container {
    position: absolute;
    bottom: 10px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
}

#content {
    margin-top: 80px;
    margin-left: 220px;
    margin-right: 7vw;

    width: calc(100vw - 30vw - 10vw);
    border-radius: 10px;
    padding: 10px;
    transition: margin-left 0.3s;
    flex: 1;


    max-width: 100%;
}

#content.colored {
    background-color: #ffffff;
}

#content.collapsed {
    width: calc(100vw - 40vw - 10vw);
    margin-left: 10vw;
}

.blue-text {
    color: #2683ee;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main {
    width: 100vw;
}

@media (max-width: 767px) {
    #sidebar {
        display: none;
    }

    #content {
        width: calc(100vw - 3vw - 3vw);
        margin-left: 3vw;
    }

    #content.collapsed {
        width: calc(100vw - 3vw - 3vw);
        margin-left: 3vw;
    }

    #main {
        display: block;
    }
}

.simple-text {
    color: black;
}

body.dark-mode {
    background-color: #273238;
}

.dark-mode #sidebar {
    background: #36474f;
    border: none;
}

.dark-mode .blue-text {
    color: #87CEEB;
}

.dark-mode .avatar-container {
    border: 2px solid #475965;
}

.dark-mode #content.colored {
    background-color: #36474f;
}

.dark-mode .simple-text {
    color: #f8fbff;
}

.dark-mode .card-body {
    background: #36474f;
}

.set-transition {
    transition: all 0.3s, background 0.5s, color 0.5s;
}

.dropdown-menu.show .dropdown-item:hover {
    background-color: #eaeaea;
}
/* Стиль для темной темы */
.dark-mode .dropdown-menu.show .dropdown-item:hover {
    background-color: #2683ee;
    color: #fff;
}
