.hover-highlight:hover {
    background-color: rgba(38,131,238, 0.1); /* Синий цвет с пониженной прозрачностью */
    filter: brightness(0.8);
    transition: background-color 0.3s ease, filter 0.3s ease; /* Плавные анимации перехода */
}

.dark-mode .task-card {
    border: 2px solid #475965;
}